# === NODO BOLIVIA (Central) - SQL Server ===
DB_BOLIVIA_HOST=
DB_BOLIVIA_PORT=1433
DB_BOLIVIA_USER=
DB_BOLIVIA_PASSWORD=
DB_BOLIVIA_NAME=farmared

# === NODO PERÚ - SQL Server ===
DB_PERU_HOST=
DB_PERU_PORT=1433
DB_PERU_USER=
DB_PERU_PASSWORD=
DB_PERU_NAME=farmared

# === NODO CHILE - PostgreSQL ===
DB_CHILE_HOST=
DB_CHILE_PORT=5432
DB_CHILE_USER=
DB_CHILE_PASSWORD=
DB_CHILE_NAME=farmared

# === AUTH ===
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# === CURRENCY API (opcional) ===
EXCHANGE_RATE_API_KEY=
